.banner {
    height: 75vh; /* 75% de la altura de la pantalla */
    position: relative;

    .image {
        background-image: url(../assets/wp8674359-gojo-sensei-wallpapers\ copia.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom right;
        
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0.5;
    }

    .content {
        text-align: center;
        color: var(--main-text-color);
        z-index: 1;
        position: relative;
    }

    p.bold {
        font-weight: 700;
    }

}
