.banner {
    background-color: var(--skill-shadow-color);
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
        background-image: url(/assets/banner-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0.4;
    }
    .content {
        text-align: center;
        color: var(--main-text-color);
        z-index: 1;
        position: relative;
        padding: 1em;
    }
    p.bold {
        font-weight: 700;
    }
}


@media screen and (width > 768px) {
    .banner .image {
        background-image: url(/assets/banner-desktop-1.jpg);
        background-position: bottom right;
    }
}