:root {
  --bg-color: #0A1A3F;              /* Azul profundo - fondo principal */
  --main-brand-color: #4DE2E8;      /* Turquesa brillante - acento y CTA */
  --main-brand-color-light: #7D8CA3;/* Gris azulado - hover / secundario */
  --secondary-brand-color: #2C1E4A; /* Púrpura oscuro - bloques secundarios */
  --main-text-color: #EDEDED;       /* Blanco plateado - Texto principal */
  --border-color: #7D8CA3;          /* Gris azulado para bordes */
  --main-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}


.main-bg {
    background-color: var(--bg-color);
    color: var(--main-text-color);

    font-size: 1rem;
    font-family: var(--main-font-family);

    margin-bottom: 1.25em;

}

a.hidden {
  display: none;
}