.btn {
    color: var(--secondary-brand-color);
    background-color: var(--main-brand-color);
    padding: 0.7em;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
        background-color: var(--main-brand-color-light);
        color: var(--main-text-color);
    }
        
}

.btn_secondary {
    color: var(--main-brand-color);
    background-color: var(--secondary-brand-color);
    padding: 0.7em;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
        background-color: var(--main-brand-color-light);
        color: var(--main-text-color);
    }
}

.form_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  label {
    margin-bottom: 0.5rem;
  }
  input, textarea {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--skill-track-color);
    color: var(--main-brand-color);
  }

}







/*
@media screen and (hover: hover) {
  .btn:hover {
    background-color: var(--main-brand-color-light);
    color: var(--main-text-color);
  }
}
*/