.footer {
    background-color: var(--main-color);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav_footer {
        .list_footer {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            list-style: none;
            margin: 0;
            padding: 0;
        }
    } 
}