.header {
    background-color: var(--main-brand-color-light);
    position: sticky;
    top: 0;
    z-index: 99;
    img {
        width: 100%;
        max-width: 250px;
    }
    .nav {
        ul.list {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}

.btn {
    color: var(--secondary-brand-color);
    background-color: var(--main-brand-color);
    padding: 0.7em;
    display:inline-block;
    border-radius: 5px; 

}